.container {
  display: flex;
  flex-direction: column;
  padding: 1.25rem 1.5rem;
  margin-top: 1rem;
  background: var(--card-color);
  border-radius: 16px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.container svg {
  color: var(--theme-color);
}

.container > div{
  padding-top: 1rem;
}

.container > div:first-child {
  padding-top: 0rem;
}

.info_header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-size: 1.25rem;
}

.info_content {
  display: inline-grid;
  grid-template-columns: 3fr 4fr 3fr;
  padding-top: 0.5rem;
  width: 100%;
}

.info_content > div {
  display: flex;
  justify-content: center;
}

.info_content > div > span {
  display: flex;
  justify-content: center;
  gap: 5px;
  align-items: center;
  font-size: 1.25rem;
}

.info_content > span:nth-child(2) {
  font-size: 1.25rem;
}

.divider {
  margin-top: 0.5rem;
  border: none;
  border-top: 1px solid var(--divider-color);
}